@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(176, 134, 230, 0.87), rgba(44, 185, 240, 0.87)),url(img.jpeg);
  font-family: "poppins",sans-serif;
  width: 100%;
  height: 100vh;
}

form{
    width: 30%;
    background-color: white;
    padding: 4rem;
    border-radius: 1rem;
    margin-top: 8rem;
}

.btn-primary{
    width:100%;
    border:none;
    border-radius:0.5rem;
}

.form-control{
    color: rgba(9, 9, 9, 0.87);
    border-bottom-color:  rgba(0,0,0,0.87);
    box-shadow: none !important;
    border: none;
    border-bottom:0.1rem solid;
    border-radius: 0.4rem 0.4rem 0 0;
}

h4{
    font-size:2rem !important;
    font-weight: 700;
}

.form-label{
    font-family: 700 !important;
}

@media only screen and (max-width:600px){
    form{
        width:100% !important;
    }
}